# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Database
app/achievelife.db

# Flask stuff:
instance/
.webassets-cache

# virtualenv
.venv/
venv/
ENV/
